{% extends 'base.html.twig' %}

{% block title %}ExchangeRate index{% endblock %}

{% block body %}
    <h1>ExchangeRate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rate</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exchange_rate in exchange_rates %}
            <tr>
                <td>{{ exchange_rate.id }}</td>
                <td>{{ exchange_rate.rate }}</td>
                <td>{{ exchange_rate.date ? exchange_rate.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_exchange_rate_show', {'id': exchange_rate.id}) }}">show</a>
                    <a href="{{ path('app_exchange_rate_edit', {'id': exchange_rate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exchange_rate_new') }}">Create new</a>
{% endblock %}
